/************************************************************************************** ARREGLOS ALTURA GALERIA CARRUSEL **************************************************************************************/
.estadisPage .galeriaXXL{
    height: 200px!important;
    margin-bottom: 32px!important;
}
.estadisPage .galeriaXXL .caroufredsel_wrapper {
    height: 200px;
}
.estadisPage .accesosSup {
    margin-bottom: 8px!important;
}
.estadisPage .galeriaXXL .envGaleria {
    overflow: hidden!important;
}
.estadisPage #navMigas {
    height: 39px;
}
.estadisPage #navMigas .anchoCont{
    padding-top: 12px;
}
.estadisPage .galeriaXXL .envIzda .posicion {
    bottom: 0px!important;
    top: 25px;
    left: 0;
    margin-left: 0px;
    position: relative!important;
    width: 100%;
}
.estadisPage #tipoCol.subHome.subHomeEstadistica {
    margin-top: -120px;
}
.estadisPage .wrapperInput {
    padding-bottom: 1px;
    padding-top: 17px;
}
@media only screen and (min-width:1024px) and (max-width:1200px){

    .estadisPage .galeriaXXL .txtIzda{
        height: 77%;
    }
    .estadisPage .accesosSup{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #tipoCol.subHome.subHomeEstadistica {
        margin-top: -142px;
    }
    .searchWrapper > header > h2 {
        border: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}