label {
    font-family: 'Raleway', sans-serif;
    text-weigth: bold;
    font-size: 105%;
}

.presentacion p {
    text-align: justify;
    text-size: 14px;
    padding-top: 10px;
}

hr.estilo {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.legend {
    font-family: 'Raleway', sans-serif;
    text-weigth: bold;
    font-size: 100%;
    padding: 5px;
}

input, select, textarea {
  padding:9px;
  margin:4px 0;
  border:0;
  outline: none;
  width: 80%;
  resize: none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

#caso, #hechos {
    width:80%;
}

#actor, #demandado {
    margin: 5px auto;
}

select {
    width: 84%;
    overflow: hidden;
}

table {
    width: 850px;
    margin: 10px auto;
}

.seleccion{
    display:inline-block;
    padding:0.2em 1.2em;
    border:0.02em solid #b6b6b6;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Raleway',sans-serif;
    font-size: 15px;
    color:#000000;
    outline: none;
    text-align:center;
    transition: all 0.2s;
    background: transparent;
    width: 300px;
}
.seleccion:hover{
    color:#ffffff;
    transition: all 0.35s;
    outline: none;
    border:rgba(49, 130, 187,1);
    background-color:rgba(49, 130, 187,1);
}

@media all and (max-width:30em){
    .seleccion{
        display:block;
        margin:0.4em auto;
    }
}
p {
    text-align:center
}

.clases {
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipos {
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}