.sent {
    text-align: center;
    font-weight: bold;
    font-size: 160%;
}

.resol {
  margin: auto;
  width: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1)
}

.resol p {
    text-align: justify;
    margin: 5%;
    font-size: 120%;
    margin-top: 15px;
    margin-bottom: 15px
    }

.resol li {
    text-align: justify;
    margin: 5%;
    font-size: 120%;
    margin-top: 15px;
    margin-bottom: 15px
    }

#firma {
    font-weigth: bold;
    opacity: 0.5;
    text-align: right;
    text-color: gray;
    margin-top: 0px;
    margin-bottom: 0px
}
